<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por cliente..." [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>

            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                  class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Fecha servicio</th>
                <th class="align-middle">Placa</th>
                <th class="align-middle">Cliente</th>
                <th class="align-middle">Ruta</th>
                <th class="align-middle">Producto</th>
                <th class="align-middle">Fecha incidencia</th>
                <th class="align-middle">Categoria</th>
                <th class="align-middle">Motivo</th>
                <th class="align-middle">Nombre responsable</th>
                <th class="align-middle">Tienda</th>
                <th class="align-middle">Cantidad</th>
                <th class="align-middle">Estado</th>
                <th class="align-middle">Acciones</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of serviceIncident" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.trackingService.dateService}}</td>
                <td>{{data.trackingService.truckFleet.tractPlate}}</td>
                <td>{{data.trackingService.rate.customer.socialReason}}</td>
                <td>{{data.trackingService.rate.route.routeEnd}}</td>
                <td>{{data.nameProduct}}</td>
                <td>{{data.observationDate}}</td>
                <td>{{data.damageType}}</td>
                <td>{{data.motive}}</td>
                <td>{{data.fullName}}</td>
                <td>{{data.stored}}</td>
                <td>{{data.quantityUnits}}</td>
                <td>{{data.status}}</td>

                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                      class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                      class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
          <!-- end table -->
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nuevo incidente</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="serviceIncidentForm">
    <div class="modal-body">
      <input type="text" hidden formControlName="id" value="0" />


      <div class="row">

        <div class="col-lg-6">
          <input type="text" hidden formControlName="id" value="0" />
          <label for="customername-field" class="form-label">Servicio</label>
          <ng-select [items]="tracking" bindLabel="truckFleet.name" placeholder="Seleccione servicio"
                     [(ngModel)]="selectTracking" id="customername-field" [clearable]="false" required
                     formControlName="trackingService" [ngClass]="{ 'is-invalid': submitted && form['trackingService'].errors }">
          </ng-select>
          <div *ngIf="submitted && form['trackingService'].errors" class="invalid-feedback" align="left">
            <div *ngIf="form['trackingService'].errors['required']">Ruta es requerido</div>
          </div>
        </div>



        <div class="col-lg-3">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Folio</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="folio"
                   [ngClass]="{ 'is-invalid': submitted && form['folio'].errors }" autocomplete="disabled" />

          </div>
        </div>


        <div class="col-lg-3">
          <div class="mb-3">
            <label for="customername-field" class="form-label">SKU</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="sku"
                   [ngClass]="{ 'is-invalid': submitted && form['sku'].errors }" autocomplete="disabled" />
          </div>
        </div>

      </div>

      <div class="row">



        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Producto</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="nameProduct"
                   [ngClass]="{ 'is-invalid': submitted && form['nameProduct'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label>Fecha incidente</label>
            <div class="input-group clockpicker">
              <input class="form-control" type="date" id="example-date-input" formControlName="observationDate"
                     autocomplete="disabled">
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Categoria</label>
            <ng-select [items]="typeDamage" id="customername-field"  formControlName="damageType"
                       placeholder="Seleccione Estado"
                       [ngClass]="{ 'is-invalid': submitted && form['damageType'].errors }">
            </ng-select>

          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Motivo</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="motive"
                   [ngClass]="{ 'is-invalid': submitted && form['motive'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Responsable</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="responsible"
                   [ngClass]="{ 'is-invalid': submitted && form['responsible'].errors }" autocomplete="disabled" />
          </div>
        </div>


        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Nombre completo</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="fullName"
                   [ngClass]="{ 'is-invalid': submitted && form['fullName'].errors }" autocomplete="disabled" />
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Tienda</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="stored"
                   [ngClass]="{ 'is-invalid': submitted && form['stored'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Cantidad unidades</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="quantityUnits"
                   [ngClass]="{ 'is-invalid': submitted && form['quantityUnits'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Observaciones</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="observation"
                   [ngClass]="{ 'is-invalid': submitted && form['observation'].errors }" autocomplete="disabled" />
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">GRT</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="grt"
                   [ngClass]="{ 'is-invalid': submitted && form['grt'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">GRR</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="grr"
                   [ngClass]="{ 'is-invalid': submitted && form['grr'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Numero pedido</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="order"
                   [ngClass]="{ 'is-invalid': submitted && form['order'].errors }" autocomplete="disabled" />
          </div>
        </div>

      </div>

      <div class="row">

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Estado</label>
            <ng-select [items]="status" id="customername-field"  formControlName="status"
                       placeholder="Seleccione Estado"
                       [ngClass]="{ 'is-invalid': submitted && form['status'].errors }">
            </ng-select>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Costo</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="price"
                   [ngClass]="{ 'is-invalid': submitted && form['price'].errors }" autocomplete="disabled" />
          </div>
        </div>

        <div class="col-lg-4">
          <div class="mb-3">
            <label for="customername-field" class="form-label">Incidente carga</label>
            <ng-select [items]="status" id="customername-field"  formControlName="chargeIncident"
                       placeholder="Seleccione Incidente carga"
                       [ngClass]="{ 'is-invalid': submitted && form['chargeIncident'].errors }">
            </ng-select>
          </div>
        </div>


      </div>



    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->
