.buttonImage {
    width: 9.5rem;
}

.p-4 {
    padding: 1rem !important;
}

.imageDocument {
    display: -webkit-inline-box;
}

.inputImageUrlDoc{
    width: auto;
}

.titulo{
    font-weight: bold;
}