<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="card">
        <div class="card-body">
            <div class="row md-2">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-8">
                    <div class="text-sm-end">
                        <button type="button" class="btn btn-success btn-rounded mb-2 me-2"
                            (click)="openModal(content)"><i class="mdi mdi-plus mr-1"></i>
                            Nuevo</button>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="table-responsive mb-0">
                    <table class="table table-centered table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle">ID</th>
                               <th class="align-middle">Placa</th>
                                <th class="align-middle">Tipo Cambio</th>
                                <th class="align-middle">Lugar</th>
                                <th class="align-middle">Fecha de Cambio</th>
                                <th class="align-middle">Ultimo cambio</th>
                                <th class="align-middle">KM actual</th>
                                <th class="align-middle">Proximo cambio</th>
                                <th class="align-middle">Estado</th>
                                <th class="align-middle">Diferencia</th>
                                <th class="align-middle">Fecha Registro</th>
                                <th class="align-middle">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of maintenanceOils" id="o_{{data.id}}">
                                <td>
                                    <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                                </td>
                                <td>{{data.truckFleet.tractPlate}}</td>
                                <td>{{data.changeType}}</td>
                                <td>{{data.place}}</td>
                                <td>{{data.dateChange.substring(0,10) | date:'dd/MM/YYYY'}}</td>
                                <td>{{data.kmLast}}</td>
                                <td>{{data.kmCurrent}}</td>
                                <td>{{data.kmNext}}</td>
                                <td>{{data.status}}</td>
                                <td>{{data.differences}}</td>
                                <td>{{data.dateCurrent.substring(0,10) | date:'dd/MM/YYYY'}}</td>
                                <td>
                                    <div class="d-flex gap-3">
                                        <a href="javascript:void(0);" class="text-success"
                                            (click)="editDataGet(data.id,content)"><i
                                                class="mdi mdi-pencil font-size-18"></i></a>
                                        <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                                                class="mdi mdi-delete font-size-18"></i></a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <ul class="pagination pagination-rounded justify-content-end mb-2">
                        <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page"
                            [pageSize]="service.pageSize">
                        </ngb-pagination>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content role="document" let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Mantenimiento Aceite</h5>
    </div>
    <form (ngSubmit)="saveMaintenanceOil()" [formGroup]="maintenanceOilForm">
        <div class="modal-body">

          <div class="row">

            <div class="col-md-6">

              <div class="mt-3">
                <input type="text" hidden formControlName="id" value="0" />
                <label for="customername-field" class="form-label">Placa</label>
                <ng-select [items]="providers" bindLabel="businessName" placeholder="Seleccione Proveedor"
                           [(ngModel)]="selectProviders" id="customername-field" [clearable]="false" required
                           formControlName="provider" [ngClass]="{ 'is-invalid': submitted && form['provider'].errors }">
                </ng-select>
                <div *ngIf="submitted && form['provider'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['provider'].errors['required']">provedor es requerido</div>
                </div>
              </div>
            </div>

            <div class="col-md-6">

              <div class="mt-3">
                <input type="text" hidden formControlName="id" value="0" />
                <label for="customername-field" class="form-label">Chofer</label>
                <ng-select [items]="employees" bindLabel="fullName" placeholder="Seleccione Chofer"
                           [(ngModel)]="selectEmployees" id="customername-field" [clearable]="false" required
                           formControlName="employee" [ngClass]="{ 'is-invalid': submitted && form['employee'].errors }">
                </ng-select>
                <div *ngIf="submitted && form['employee'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['employee'].errors['required']">Chofer es requerido</div>
                </div>
              </div>
            </div>

          </div>

            <div class="row">
              <div class="col-md-6">

                <div class="mt-3">
                  <input type="text" hidden formControlName="id" value="0" />
                  <label for="customername-field" class="form-label">Placa</label>
                  <ng-select [items]="truckFleets" bindLabel="tractPlate" placeholder="Seleccione Proveedor"
                             [(ngModel)]="selectTruckFleets" id="customername-field" [clearable]="false" required
                             formControlName="truckFleet" [ngClass]="{ 'is-invalid': submitted && form['truckFleet'].errors }">
                  </ng-select>
                  <div *ngIf="submitted && form['truckFleet'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['truckFleet'].errors['required']">Placa es requerido</div>
                  </div>
                </div>
              </div>

                <div class="col-md-6">

                  <div class="mt-3">
                    <label for="customername-field" class="form-label">Tipo cambio</label>
                    <ng-select [items]="['Cambio de aceite','Cambio de caja y corona','Filtro de aire']" id="customername-field" required formControlName="changeType"
                               [ngClass]="{ 'is-invalid': submitted && form['changeType'].errors }"></ng-select>
                    <div *ngIf="submitted && form['changeType'].errors" class="invalid-feedback" align="left">
                      <div *ngIf="form['changeType'].errors['required']">Tipo cambio es requerido</div>
                    </div>
                  </div>

                </div>

            </div>

            <div class="row">

              <div class="col-md-6">
                <div class="mt-3">
                  <label for="customername-field" class="col-md-12 col-form-label">Lugar</label>
                  <input type="text" id="customername-field" class="form-control" required formControlName="place"
                         [ngClass]="{ 'is-invalid': submitted && form['place'].errors }" autocomplete="disabled" />
                  <div *ngIf="submitted && form['place'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['place'].errors['required']">Lugar es requerido</div>
                  </div>
                </div>
              </div>



                <div class="col-md-6">
                    <div class="mt-3">
                        <label for="example-date-input" class="col-md-12 col-form-label">Fecha Cambio</label>
                        <div class="col-md-12">
                            <input class="form-control" type="date" formControlName="dateChange"
                                id="example-date-input">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

              <div class="col-md-6">
                <div class="mt-3">
                  <label for="customername-field" class="col-md-12 col-form-label">Ultimo cambio</label>
                  <input type="number" id="customername-field" class="form-control" required formControlName="kmLast"
                         [ngClass]="{ 'is-invalid': submitted && form['kmLast'].errors }" autocomplete="disabled" />
                  <div *ngIf="submitted && form['kmLast'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['kmLast'].errors['required']">Ultimo cambio es requerido</div>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div class="mt-3">
                  <label for="customername-field" class="col-md-12 col-form-label">Km actual</label>
                  <input type="number" id="customername-field" class="form-control" required formControlName="kmCurrent"
                         [ngClass]="{ 'is-invalid': submitted && form['kmCurrent'].errors }" autocomplete="disabled" />
                  <div *ngIf="submitted && form['kmCurrent'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['kmCurrent'].errors['required']">Km actual es requerido</div>
                  </div>
                </div>
              </div>

            </div>

          <div class="row">

            <div class="col-md-6">
              <div class="mt-3">
                <label for="customername-field" class="col-md-12 col-form-label">despues de cuanto</label>
                <input type="number" id="customername-field" class="form-control" required formControlName="changeKm"
                       [ngClass]="{ 'is-invalid': submitted && form['changeKm'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['changeKm'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['changeKm'].errors['required']">Cambio de km es requerido</div>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="modal-footer">
            <div class="hstack gap-2 justify-content-end">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                    (click)="modal.close('Close click')">Cancelar</button>
                <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
            </div>
        </div>
    </form>
</ng-template>
