<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div class="row" *ngIf="!new">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Efectivo Entregado:
              </label>
            </div>
            <div class="col-lg-6 text-right">
              <label for="customername-field" class="form-label">
                S/{{tracking.moneyDelivered | number : '1.2-2'}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Gasto:
              </label>
            </div>
            <div class="col-lg-6 text-right">
              <label for="customername-field" class="form-label">
                S/{{sumaTotal | number : '1.2-2'}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Saldo:
              </label>
            </div>
            <div class="col-lg-6 text-right">
              <label for="customername-field" class="form-label">
                S/{{(tracking.moneyDelivered-sumaTotal) | number : '1.2-2'}}
              </label>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Placa:
              </label>
            </div>
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                {{tracking.truckFleet.tractPlate}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Fecha Servicio:
              </label>
            </div>
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                {{tracking.dateService}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Ruta:
              </label>
            </div>
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                {{tracking.rate.route.routeStart}}/{{tracking.rate.route.routeEnd}}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                Chofer:
              </label>
            </div>
            <div class="col-lg-6">
              <label for="customername-field" class="form-label">
                {{tracking.copilot.fullName}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="!new"></div>
      <div class="row mb-2">
        <form (ngSubmit)="saveUser()" [formGroup]="settlementSummaryForm" *ngIf="new">
          <div class="row">
            <div class="col-lg-3">
              <div class="mb-3">
                <input type="text" hidden formControlName="id" value="0" />
                <label for="customername-field" class="form-label">Tipo gasto</label>
                <ng-select [items]="listExpenseType" bindLabel="expenseType" placeholder="Seleccione Tipo gasto"
                  [(ngModel)]="selectExpenseType" id="customername-field" [clearable]="false" required
                  formControlName="expenseTypeId"
                  [ngClass]="{ 'is-invalid': submitted && form['expenseTypeId'].errors }">
                </ng-select>
                <div *ngIf="submitted && form['expenseTypeId'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['expenseTypeId'].errors['required']">Tipo gasto es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <label>Fecha gasto</label>
                <div class="input-group clockpicker">
                  <input class="form-control" type="date" id="example-date-input" formControlName="settlementDate"
                    autocomplete="off">
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Detalles</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="detail"
                  [ngClass]="{ 'is-invalid': submitted && form['detail'].errors }" autocomplete="off" />
                <div *ngIf="submitted && form['detail'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['detail'].errors['required']">Detalle es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Gasto total</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="totalExpense"
                  [ngClass]="{ 'is-invalid': submitted && form['totalExpense'].errors }" autocomplete="off" />
                <div *ngIf="submitted && form['totalExpense'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['totalExpense'].errors['required']">Gasto total es requerido</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9">

            </div>
            <div class="col-lg-3">
              <label for="customername-field" class="form-label">Acción</label>
              <div class="hstack gap-2">
                <button type="submit" class="btn btn-success" id="add-btn">{{textButton}}</button>
                <button type="button" class="btn btn-light" (click)="cancel()">Cancelar</button>
              </div>
          </div>
          </div>
        </form>
      </div>
      <div class="row md-2">
        <div class="row mb-2">
          <div class="col-lg-4">
          </div>
          <div class="col-lg-8">
            <div class="text-sm-end">
              <button type="button" class="btn btn-success btn-rounded mb-2 me-2" *ngIf="!new"
                (click)="openModal(true) "><i class="mdi mdi-plus mr-1"></i>
                Nuevo</button>
            </div>
          </div><!-- end col-->
        </div>
      </div>
      <div class="row mb-2">
        <div class="table-responsive mb-0">
          <table class="table table-centered table-nowrap">
            <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Tipo gasto</th>
                <th class="align-middle">Fecha gasto</th>
                <th class="align-middle">Detalles</th>
                <th class="align-middle">Total gasto</th>
                <th class="align-middle">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of settlementSummary" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.expenseType.expenseType}}</td>
                <td>{{data.settlementDate.substring(0,10) | date:'dd/MM/YYYY'}}</td>
                <td>{{data.detail}}</td>
                <td>{{data.totalExpense}}</td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id)"><i
                        class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                        class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>