<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por placa..."
                    [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                    class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="align-middle">ID</th>
                  <th class="align-middle">Placa Tracto</th>
                  <th class="align-middle">Placa Furgon</th>
                  <th class="align-middle">Marca</th>
                  <th class="align-middle">Volumen</th>
                  <th class="align-middle">Fecha Fabricación</th>
                  <th class="align-middle">Nro Toneladas</th>
                  <th class="align-middle">Ejes</th>
                  <th class="align-middle">Modelo</th>
                  <th class="align-middle">Medidas</th>
                  <th class="align-middle">Tipo Flota</th>
                  <th class="align-middle">Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of truckFleets" id="o_{{data.id}}">
                  <td>
                    <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                  </td>
                  <td>{{data.tractPlate}}</td>
                  <td>{{data.vanPlate}}</td>
                  <td>{{data.brand}}</td>
                  <td>{{data.volume}}</td>
                  <td>{{data.fabricationDate.substring(0,10) | date:'dd/MM/YYYY'}}</td>
                  <td>{{data.tonNumber}}</td>
                  <td>{{data.axes}}</td>
                  <td>{{data.model}}</td>
                  <td>{{data.highWideLong}}</td>
                  <td>{{data.fleetType}}</td>
                  <td>
                    <div class="d-flex gap-3">
                      <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                          class="mdi mdi-pencil font-size-18"></i></a>
                      <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                          class="mdi mdi-delete font-size-18"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
          <!-- end table -->
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal class="modal">

  <div class="modal-header">
    <h5 class="modal-title mt-0">Información de la Flota</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
        <li [ngbNavItem]="1">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
            <span class="d-none d-sm-block">Datos Principales</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="2" *ngIf="newTruck">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Documentos</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent1"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="3" *ngIf="newTruck">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Check List</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent2"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="4" *ngIf="newTruck">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Mantenimiento llantas</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent3"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="5" *ngIf="newTruck">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Mantenimiento de Aceite</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent4"></ng-template>
          </ng-template>
        </li>
        <li [ngbNavItem]="6" *ngIf="newTruck">
          <a ngbNavLink>
            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
            <span class="d-none d-sm-block">Kardex Combustible</span>
          </a>
          <ng-template ngbNavContent>
            <ng-template [ngTemplateOutlet]="TabContent5"></ng-template>
          </ng-template>
        </li>
      </ul>
      <div [ngbNavOutlet]="nav"></div>
    </div><!-- End Default Tabs -->
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.close('Close click')">Close</button>
  </div>



</ng-template>
<!--End Modal -->

<!-- Tab Content -->
<ng-template #TabContent>
  <div class="col-lg-12">

    <div class="card">
      <div class="card-body">
        <form (ngSubmit)="saveTruckFleet()" [formGroup]="truckFleetForm">
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <input type="text" hidden formControlName="id" value="0" />
                <label for="customername-field" class="form-label">Proveedor</label>
                <ng-select [items]="providers" bindLabel="businessName" placeholder="Seleccione Proveedor"
                  [(ngModel)]="selectProvider" id="customername-field" [clearable]="false" required
                  formControlName="idProvider" [ngClass]="{ 'is-invalid': submitted && form['idProvider'].errors }">
                </ng-select>
                <div *ngIf="submitted && form['idProvider'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['idProvider'].errors['required']">Proveedor es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Placa Tracto</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="tractPlate"
                  [ngClass]="{ 'is-invalid': submitted && form['tractPlate'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['tractPlate'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['tractPlate'].errors['required']">Placa Tracto es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Placa Furgon</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="vanPlate"
                  [ngClass]="{ 'is-invalid': submitted && form['vanPlate'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['vanPlate'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['vanPlate'].errors['required']">Placa Furgon es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Marca</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="brand"
                  [ngClass]="{ 'is-invalid': submitted && form['brand'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['brand'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['brand'].errors['required']">Marca es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Volumen</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="volume"
                  [ngClass]="{ 'is-invalid': submitted && form['volume'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['volume'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['volume'].errors['required']">Volumen es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Nro Toneladas</label>
                <input type="number" id="customername-field" class="form-control" required formControlName="tonNumber"
                  [ngClass]="{ 'is-invalid': submitted && form['tonNumber'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['tonNumber'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['tonNumber'].errors['required']">Nro Toneladas es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Ejes</label>
                <input type="number" id="customername-field" class="form-control" required formControlName="axes"
                  [ngClass]="{ 'is-invalid': submitted && form['axes'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['axes'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['axes'].errors['required']">Ejes es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Modelo</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="model"
                  [ngClass]="{ 'is-invalid': submitted && form['model'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['model'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['model'].errors['required']">Modelo es requerido</div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Medidas</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="highWideLong"
                  [ngClass]="{ 'is-invalid': submitted && form['highWideLong'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['highWideLong'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['highWideLong'].errors['required']">Medidas es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label>Fecha Fabricación</label>
                <div class="input-group clockpicker">
                  <input class="form-control" type="date" id="example-date-input" formControlName="fabricationDate"
                    autocomplete="disabled">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="customername-field" class="form-label">Tipo Flota</label>
                <input type="text" id="customername-field" class="form-control" required formControlName="fleetType"
                  [ngClass]="{ 'is-invalid': submitted && form['fleetType'].errors }" autocomplete="disabled" />
                <div *ngIf="submitted && form['fleetType'].errors" class="invalid-feedback" align="left">
                  <div *ngIf="form['fleetType'].errors['required']">Tipo Flota es requerido</div>
                </div>
              </div>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
              <div class="mb-3">
                <label for="customername-field" class="form-label"></label>
                <div class="hstack gap-2 justify-content-end">
                  <button type="submit" class="btn btn-success" id="add-btn" *ngIf="action===1">Registrar</button>
                  <button type="submit" class="btn btn-success" id="add-btn" *ngIf="action===2">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #TabContent1>
  <app-document-unit [idTruckFleet]="idTruckFleetOuput"></app-document-unit>
</ng-template>

<ng-template #TabContent2>
  <app-check-list [idTruckFleet]="idTruckFleetOuput"></app-check-list>
</ng-template>

<ng-template #TabContent3>
  <app-maintenance-tire [idTruckFleet]="idTruckFleetOuput"></app-maintenance-tire>
</ng-template>

<ng-template #TabContent4>
  <app-maintenance-oil [idTruckFleet]="idTruckFleetOuput"></app-maintenance-oil>
</ng-template>

<ng-template #TabContent5>
  <app-kardex-fuel [idTruckFleet]="idTruckFleetOuput"></app-kardex-fuel>
</ng-template>
