<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por ruta..." [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                  class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Ruta inicio</th>
                <th class="align-middle">Ruta fin</th>
                <th class="align-middle">Zona</th>
                <th class="align-middle">Distancia en KM</th>
                <th class="align-middle">Gallones</th>
                <th class="align-middle">Acción</th>

              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of routes" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.routeStart}}</td>
                <td>{{data.routeEnd}}</td>
                <td>{{data.zone}}</td>
                <td>{{data.distanceKM}}</td>
                <td>{{data.gallons}}</td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                      class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                      class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
          <!-- end table -->
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nueva Ruta</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="routeForm">
    <div class="modal-body">
      <input type="text" hidden formControlName="id" value="0" />

      <div class="mb-3">
        <label for="customername-field" class="form-label">Ruta inicio</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="routeStart"
               [ngClass]="{ 'is-invalid': submitted && form['routeStart'].errors }" autocomplete="disabled" />
        <div *ngIf="submitted && form['routeStart'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['routeStart'].errors['required']">ruta inicio es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Destino</label>
        <input type="text" id="customername-field" class="form-control" required formControlName="routeEnd"
               [ngClass]="{ 'is-invalid': submitted && form['routeEnd'].errors }" autocomplete="disabled" />
        <div *ngIf="submitted && form['routeEnd'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['routeEnd'].errors['required']">ruta final es requerido</div>
        </div>
      </div>


      <div class="mb-3">
        <label for="customername-field" class="form-label">Zona</label>
        <ng-select [items]="['CENTRO','SUR','NORTE','ORIENTE']" id="customername-field" required formControlName="zone"
                   [ngClass]="{ 'is-invalid': submitted && form['zone'].errors }"></ng-select>
        <div *ngIf="submitted && form['zone'].errors" class="invalid-feedback" align="left">
          <div *ngIf="form['zone'].errors['required']">Zona es requerido</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Distancia</label>
        <input type="text" id="customername-field" class="form-control"  formControlName="distanceKM"
               [ngClass]="{ 'is-invalid': submitted && form['distanceKM'].errors }" autocomplete="disabled" />
      </div>

      <div class="mb-3">
        <label for="customername-field" class="form-label">Galones</label>
        <input type="text" id="customername-field" class="form-control" formControlName="gallons"
               [ngClass]="{ 'is-invalid': submitted && form['gallons'].errors }" autocomplete="disabled" />
      </div>

    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
      </div>
    </div>
  </form>
</ng-template>
