<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por Nombre..."
                    [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                    class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
                <tr>
                  <th class="align-middle">ID</th>
                  <th class="align-middle">Nombre Completo</th>
                  <th class="align-middle">Documento</th>
                  <th class="align-middle">Nacimiento</th>
                  <th class="align-middle">Contacto</th>
                  <th class="align-middle">Ingreso - Cese</th>
                  <th class="align-middle">Licencia</th>
                  <th class="align-middle">Puesto</th>
                  <th class="align-middle">Estado</th>
                  <th class="align-middle">Acciones</th>
              </thead>
              <tbody>
                <tr *ngFor="let data of employees" id="o_{{data.id}}">
                  <td>
                    <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                  </td>
                  <td>{{data.fullName}}</td>
                  <td>
                    <p class="mb-1">{{data.documentType}}</p>
                    <p class="mb-1">{{data.dni}}</p>
                  </td>
                  <td>
                    <p class="mb-1">{{data.birthDate.substring(0,10) | date:'dd/MM/YYYY'}}</p>
                    <p class="mb-1">{{data.placeOfBirth}}</p>
                  </td>
                  <td>
                    <p class="mb-1">{{data.phoneNumber}}</p>
                    <p class="mb-1">{{data.email}}</p>
                  </td>
                  <td>
                    <p class="mb-1">{{data.joinDate.substring(0,10) | date:'dd/MM/YYYY'}}</p>
                    <p class="mb-1">{{data.ceaseDate.substring(0,10) | date:'dd/MM/YYYY'}}</p>
                  </td>
                  <td>
                    <p class="mb-1">{{data.licenseCategory}}</p>
                    <p class="mb-1">{{data.licenseExpirationDate.substring(0,10) | date:'dd/MM/YYYY'}}</p>
                  </td>
                  <td>{{data.role}}</td>
                  <td>{{data.currentState}}</td>
                  <td>
                    <div class="d-flex gap-3">
                      <a href="javascript:void(0);" class="text-primary"
                        (click)="editDataGet(data.id,content,true)"><i class="mdi mdi-eye font-size-18"></i></a>
                      <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content, false)"><i
                          class="mdi mdi-pencil font-size-18"></i></a>
                      <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                          class="mdi mdi-delete font-size-18"></i></a>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>


          </div>
          <!-- end table -->
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nueva Empleado</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
      (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="employeeForm">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>
          <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
          <span class="d-none d-sm-block">Datos Principales</span>
        </a>
        <ng-template ngbNavContent>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-2">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Foto</label>
                  <img [src]="imageUrl != null ? imageUrl : myImageBaseUrl" class="image">
                  <input type="file" id="customername-field" accept=".jpg" class="form-control"
                    (change)="getImage($event)" autocomplete="off"
                    [ngClass]="{ 'is-invalid': submitted && form['photoUrl'].errors }" />
                  <div *ngIf="submitted && form['photoUrl'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['photoUrl'].errors['required']">Foto es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-10">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Nombre Completo</label>
                      <input type="text" id="customername-field" class="form-control" required
                        formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && form['fullName'].errors }"
                        autocomplete="off" />
                      <div *ngIf="submitted && form['fullName'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['fullName'].errors['required']">Nombre Completo</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Tipo documento</label>
                      <ng-select [items]="['DNI','CARMET','PASAPORTE','PTP','CEDULA']" id="customername-field" required
                        formControlName="documentType"
                        [ngClass]="{ 'is-invalid': submitted && form['documentType'].errors }"></ng-select>
                      <div *ngIf="submitted && form['documentType'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['documentType'].errors['required']">Tipo documento es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Número de documento DNI</label>
                      <input type="text" id="customername-field" class="form-control" required formControlName="dni"
                        [ngClass]="{ 'is-invalid': submitted && form['dni'].errors }" autocomplete="off" />
                      <div *ngIf="submitted && form['dni'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['dni'].errors['required']">DNI es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label>Venc. Documento</label>
                      <div class="input-group clockpicker">
                        <input class="form-control" type="date" id="example-date-input"
                          formControlName="dniExpirationDate" autocomplete="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Estado civil</label>
                      <ng-select [items]="['SOLTERO','CASADO','CONVIVIENTE']" id="customername-field" required
                        formControlName="maritalStatus"
                        [ngClass]="{ 'is-invalid': submitted && form['maritalStatus'].errors }"></ng-select>
                      <div *ngIf="submitted && form['maritalStatus'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['maritalStatus'].errors['required']"> Estado civil es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Cargo</label>
                      <ng-select [items]="['ADMINISTRATIVO','CHOFER','COPILOTO','ESTIBADOR']" id="customername-field"
                        required formControlName="role"
                        [ngClass]="{ 'is-invalid': submitted && form['role'].errors }"></ng-select>
                      <div *ngIf="submitted && form['role'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['role'].errors['required']">Cargo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Nivel estudio</label>
                      <ng-select [items]="['PRIMARIA','SECUNDARIA','INSTITUTO','UNIVERSIDAD','NINGUNO']"
                        id="customername-field" required formControlName="academicQualification"
                        [ngClass]="{ 'is-invalid': submitted && form['academicQualification'].errors }"></ng-select>
                      <div *ngIf="submitted && form['academicQualification'].errors" class="invalid-feedback"
                        align="left">
                        <div *ngIf="form['academicQualification'].errors['required']">Nivel estudio es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label>Fecha nacimiento</label>
                      <div class="input-group clockpicker">
                        <input class="form-control" type="date" id="example-date-input" formControlName="birthDate"
                          autocomplete="disabled">
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Lugar nacimiento</label>
                      <input type="text" id="customername-field" class="form-control" required
                        formControlName="placeOfBirth"
                        [ngClass]="{ 'is-invalid': submitted && form['placeOfBirth'].errors }" autocomplete="off" />
                      <div *ngIf="submitted && form['placeOfBirth'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['placeOfBirth'].errors['required']">Lugar nacimiento es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Direcion</label>
                      <input type="text" id="customername-field" class="form-control" required formControlName="address"
                        [ngClass]="{ 'is-invalid': submitted && form['address'].errors }" autocomplete="off" />
                      <div *ngIf="submitted && form['address'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['address'].errors['required']">Direcion es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Correo</label>
                      <input type="text" id="customername-field" class="form-control" required formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && form['email'].errors }" autocomplete="off" />
                      <div *ngIf="submitted && form['email'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['email'].errors['required']">Correo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Teléfono</label>
                      <input type="text" id="customername-field" class="form-control" required
                        formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': submitted && form['phoneNumber'].errors }" autocomplete="off" />
                      <div *ngIf="submitted && form['phoneNumber'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['phoneNumber'].errors['required']">Teléfono es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Estado actual</label>
                      <ng-select [items]="['LABORANDO','RETIRADO','VETADO']" id="customername-field" required
                        formControlName="currentState"
                        [ngClass]="{ 'is-invalid': submitted && form['currentState'].errors }"></ng-select>
                      <div *ngIf="submitted && form['currentState'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['currentState'].errors['required']">Estado actual es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Sueldo</label>
                      <input type="number" id="customername-field" class="form-control" required
                        formControlName="salary" [ngClass]="{ 'is-invalid': submitted && form['salary'].errors }"
                        autocomplete="off" />
                      <div *ngIf="submitted && form['salary'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['salary'].errors['required']">Sueldo es requerido</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-3">
                    <div class="mb-3">
                      <label for="customername-field" class="form-label">Numero hijos</label>
                      <input type="number" id="customername-field" class="form-control" required
                        formControlName="childrens" [ngClass]="{ 'is-invalid': submitted && form['childrens'].errors }"
                        autocomplete="off" />
                      <div *ngIf="submitted && form['childrens'].errors" class="invalid-feedback" align="left">
                        <div *ngIf="form['childrens'].errors['required']">Numeros de hijos es requerido</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>
          <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
          <span class="d-none d-sm-block">Datos Adicionales</span>
        </a>
        <ng-template ngbNavContent>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Cuenta bancaria</label>
                  <input type="text" id="customername-field" class="form-control" required formControlName="bankAccount"
                    [ngClass]="{ 'is-invalid': submitted && form['bankAccount'].errors }" autocomplete="off" />
                  <div *ngIf="submitted && form['bankAccount'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['bankAccount'].errors['required']">Cuenta bancaria requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Tipo contrato</label>
                  <ng-select [items]="['LOCADOR','PLANILLA']" id="customername-field" required
                    formControlName="contractType"
                    [ngClass]="{ 'is-invalid': submitted && form['contractType'].errors }"></ng-select>
                  <div *ngIf="submitted && form['contractType'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['contractType'].errors['required']">Tipo contrato es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Sistema pension</label>
                  <ng-select [items]="['AFP','ONP']" id="customername-field" required formControlName="pensionSystem"
                    [ngClass]="{ 'is-invalid': submitted && form['pensionSystem'].errors }"></ng-select>
                  <div *ngIf="submitted && form['pensionSystem'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['pensionSystem'].errors['required']">Sistema pension es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="mb-3">
                  <label>Fecha Ingreso</label>
                  <div class="input-group clockpicker">
                    <input class="form-control" type="date" id="example-date-input" formControlName="joinDate"
                      autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label>Fecha cese</label>
                  <div class="input-group clockpicker">
                    <input class="form-control" type="date" id="example-date-input" formControlName="ceaseDate"
                      autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Antecedentes penales</label>
                  <ng-select [items]="['REGISTRA','NO REGISTRA']" id="customername-field" required
                    formControlName="criminalRecords"
                    [ngClass]="{ 'is-invalid': submitted && form['criminalRecords'].errors }"></ng-select>
                  <div *ngIf="submitted && form['criminalRecords'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['criminalRecords'].errors['required']">Antecedentes penales es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Brevete</label>
                  <input type="text" id="customername-field" class="form-control" required
                    formControlName="licenseCategory"
                    [ngClass]="{ 'is-invalid': submitted && form['licenseCategory'].errors }" autocomplete="off" />
                  <div *ngIf="submitted && form['licenseCategory'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['licenseCategory'].errors['required']">Brevete es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <div class="mb-3">
                  <label>Vencimiento brevete</label>
                  <div class="input-group clockpicker">
                    <input class="form-control" type="date" id="example-date-input"
                      formControlName="licenseExpirationDate" autocomplete="off">
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Parentesco</label>
                  <input type="text" id="customername-field" class="form-control" required formControlName="kinhood"
                    [ngClass]="{ 'is-invalid': submitted && form['kinhood'].errors }" autocomplete="off" />
                  <div *ngIf="submitted && form['kinhood'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['kinhood'].errors['required']">Parentesco es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Nombre parentesco</label>
                  <input type="text" id="customername-field" class="form-control" required formControlName="kinFullName"
                    [ngClass]="{ 'is-invalid': submitted && form['kinFullName'].errors }" autocomplete="off" />
                  <div *ngIf="submitted && form['kinFullName'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['kinFullName'].errors['required']">Nombre parentesco es requerido</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="mb-3">
                  <label for="customername-field" class="form-label">Numero parentesco</label>
                  <input type="text" id="customername-field" class="form-control" required
                    formControlName="kinPhoneNumber"
                    [ngClass]="{ 'is-invalid': submitted && form['kinPhoneNumber'].errors }" autocomplete="off" />
                  <div *ngIf="submitted && form['kinPhoneNumber'].errors" class="invalid-feedback" align="left">
                    <div *ngIf="form['kinPhoneNumber'].errors['required']">Numero parentesco es requerido</div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
          </div>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
          (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
      </div>
    </div>
  </form>
</ng-template>

<!--End Modal -->
