<div class="container-fluid">
  <app-page-title title="Orders" [breadcrumbItems]="breadCrumbItems"></app-page-title>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">

                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar por fecha..."
                         [(ngModel)]="service.searchTerm">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>

                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Buscar registro..."
                         [(ngModel)]="service.searchName">
                  <i class="bx bx-search-alt search-icon"></i>
                </div>

              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 me-2" (click)="openModal(content)"><i
                  class="mdi mdi-plus mr-1"></i>
                  Nuevo</button>
              </div>
            </div><!-- end col-->
          </div>

          <!-- Table data -->
          <div class="table-responsive mb-0">
            <table class="table table-centered table-nowrap">
              <thead class="table-light">
              <tr>
                <th class="align-middle">ID</th>
                <th class="align-middle">Estado</th>
                <th class="align-middle">Fecha servicio</th>
                <th class="align-middle">Cliente</th>
                <th class="align-middle">Placa</th>
                <th class="align-middle">Recurso</th>
                <th class="align-middle">Costo</th>
                <th class="align-middle">Detalle facturar</th>
                <th class="align-middle">Observaciones</th>
                <th class="align-middle">Acción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of additionalServices" id="o_{{data.id}}">
                <td>
                  <a href="javascript: void(0);" class="text-body fw-bold">{{data.id}}</a>
                </td>
                <td>{{data.status}}</td>
                <td>{{data.dateService.substring(0,10) | date:'YYYY-MM-dd'}}</td>
                <td>{{data.customer.socialReason}}</td>
                <td>{{data.truckFleet.tractPlate}}</td>
                <td>{{data.resources}}</td>
                <td>{{data.cost}}</td>
                <td>{{data.invoiceDetail}}</td>
                <td>{{data.observation}}</td>
                <td>
                  <div class="d-flex gap-3">
                    <a href="javascript:void(0);" class="text-success" (click)="editDataGet(data.id,content)"><i
                      class="mdi mdi-pencil font-size-18"></i></a>
                    <a href="javascript:void(0);" class="text-danger" (click)="delete(data.id)"><i
                      class="mdi mdi-delete font-size-18"></i></a>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>


          </div>
          <!-- end table -->
          <ul class="pagination pagination-rounded justify-content-end mb-2">
            <ngb-pagination [collectionSize]="(total | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
            </ngb-pagination>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Order Create Model -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Nuevo servicio adicional</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close-modal"
            (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form (ngSubmit)="saveUser()" [formGroup]="additionalServicesForm">
    <div class="modal-body">
      <input type="text" hidden formControlName="id" value="0" />

      <div class="row">
        <div class="col-md-6">

        <div class="mb-3">
          <label>Fecha servicio</label>
          <div class="input-group clockpicker">
            <input class="form-control" type="date" id="example-date-input" formControlName="dateService" autocomplete="disabled">
          </div>
        </div>
        </div>

        <div class="col-md-6">

        <div class="mb-3">
          <input type="text" hidden formControlName="id" value="0" />
          <label for="customername-field" class="form-label">Cliente</label>
          <ng-select [items]="customers" bindLabel="socialReason" placeholder="Seleccione Cliente"
                     [(ngModel)]="selectCustomer" id="customername-field" [clearable]="false" required
                     formControlName="customer" [ngClass]="{ 'is-invalid': submitted && form['customer'].errors }">
          </ng-select>
          <div *ngIf="submitted && form['customer'].errors" class="invalid-feedback" align="left">
            <div *ngIf="form['customer'].errors['required']">Cliente es requerido</div>
          </div>
        </div>
        </div>


      </div>

      <div class="row">

        <div class="col-md-6">


          <div class="mb-3">
          <input type="text" hidden formControlName="id" value="0" />
          <label for="customername-field" class="form-label">Placa</label>
          <ng-select [items]="truckFleets" bindLabel="tractPlate" placeholder="Seleccione placa"
                     [(ngModel)]="selectTruckFleet" id="customername-field" [clearable]="false" required
                     formControlName="truckFleet" [ngClass]="{ 'is-invalid': submitted && form['truckFleet'].errors }">
          </ng-select>
          <div *ngIf="submitted && form['truckFleet'].errors" class="invalid-feedback" align="left">
            <div *ngIf="form['truckFleet'].errors['required']">Cliente es requerido</div>
          </div>
        </div>
        </div>

        <div class="col-md-6">

        <div class="mb-3">
          <label for="customername-field" class="form-label">Recurso</label>
          <input type="text" id="customername-field" class="form-control"  formControlName="resources"
                 [ngClass]="{ 'is-invalid': submitted && form['resources'].errors }" autocomplete="disabled" />
        </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">

        <div class="mb-3">
          <label for="customername-field" class="form-label">Costo</label>
          <input type="number" id="customername-field" class="form-control"  formControlName="cost"
                 [ngClass]="{ 'is-invalid': submitted && form['cost'].errors }" autocomplete="disabled" />
        </div>
        </div>
          <div class="col-md-6">

          <div class="mb-3">
            <label for="customername-field" class="form-label">Detalle facturar</label>
            <input type="text" id="customername-field" class="form-control"  formControlName="invoiceDetail"
                   [ngClass]="{ 'is-invalid': submitted && form['invoiceDetail'].errors }" autocomplete="disabled" />
          </div>
          </div>

      </div>

      <div class="row">
        <div class="col-md-6">


        <div class="mb-3">
          <label for="customername-field" class="form-label">Estado</label>
          <ng-select [items]="status" id="customername-field" formControlName="status"
                     placeholder="Seleccione Estado"
                     [ngClass]="{ 'is-invalid': submitted && form['status'].errors }"></ng-select>
        </div>
        </div>

        <div class="col-md-6">

        <div class="mb-3">
        <label for="customername-field" class="form-label">Observacion</label>
        <input type="text" id="customername-field" class="form-control"  formControlName="observation"
               [ngClass]="{ 'is-invalid': submitted && form['observation'].errors }" autocomplete="disabled" />
        </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">

        <div class="mb-3">
        <label for="customername-field" class="form-label">Persona que solicita</label>
        <input type="text" id="customername-field" class="form-control"  formControlName="personRequest"
               [ngClass]="{ 'is-invalid': submitted && form['personRequest'].errors }" autocomplete="disabled" />
      </div>
        </div>

      </div>



    </div>
    <div class="modal-footer">
      <div class="hstack gap-2 justify-content-end">
        <button type="button" class="btn btn-light" data-bs-dismiss="modal"
                (click)="modal.close('Close click')">Cancelar</button>
        <button type="submit" class="btn btn-success" id="add-btn">Registrar</button>
      </div>
    </div>
  </form>
</ng-template>
<!--End Modal -->
